<li class="tweet">
  <div class="media">
    <div class="media-left">
      <%= link_to tweet.user do %>
        <%= image_tag 'http://placehold.it/64x64', class: 'media-object' %>
      <% end %>
    </div>

    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to tweet.user.handle, tweet.user %>
      </h4>
      <p><%= tweet.body %></p>
    </div>
  </div>
</li>
