<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h1>Your Timeline</h1>
    </div>

    <ul class="list-unstyled tweets">
      <%= render @tweets %>
    </ul>
  </div>
</div>
